absl-py==0.10.0
astor==0.8.1
-e git+https://github.com/quenting44/drl-grasping@a622ef60b4b103360c9c67e59df3314075981dbf#egg=baselines&subdirectory=baselines
click==7.1.2
cloudpickle==1.2.2
future==0.18.2
gast==0.4.0
google-pasta==0.2.0
grpcio==1.31.0
gym==0.15.7
h5py==2.10.0
importlib-metadata==1.7.0
joblib==0.16.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.2.2
numpy==1.19.1
opencv-python==4.4.0.42
pkg-resources==0.0.0
protobuf==3.13.0
pyglet==1.5.0
scipy==1.5.2
six==1.15.0
tensorboard==1.14.0
tensorflow==1.15.2
tensorflow-estimator==1.14.0
termcolor==1.1.0
tqdm==4.48.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
